@font-face {
  font-family: Vazir;
  src: url("fonts/Vazir.woff") format(woff);
}
@font-face {
  font-family: VazirThin;
  src: url("fonts/VazirThin.woff") format(woff);
}
@font-face {
  font-family: VazirLight;
  src: url("fonts/VazirLight.woff") format(woff);
}
@font-face {
  font-family: VazirMedium;
  src: url("fonts/VazirMedium.woff") format(woff);
}
@font-face {
  font-family: VazirBold;
  src: url("fonts/VazirBold.woff") format(woff);
}
